<html>
  <head>
    <title>Result</title>
  </head>
  <body>
    <p><a href='/'>Back</a></p>
    <table>
        <td>Score: </td><td>130</td>
      </tr>
      <tr>
        <td>Area used: </td><td>450 / 500</td>
      </tr>
      <tr>
        <td>Cost used: </td><td>9000 / 10000</td>
      </tr>
      <tr>
        <td>AQI: </td><td>350</td>
      </tr>
      <tr>
        <td>Population: </td><td>1000</td>
      </tr>
    </table>
    <img src="./Neem.jpg" width="200vw">
    <h2>Neem : 2</h2>
    <img src="./Peepal.jpg" width="200vw">
    <h2>Peepal : 4</h2>
    <img src="./Palash.jpg" width="200vw">
    <h2>Palash : 2</h2>
    {% endfor %}
  </body>
</html>
