h1 {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 60px;
    font-family: Girassol;
    text-shadow: rgba(255, 255, 255, 0.5) 2px 2px;
}

.homeform {
    background-color: rgba(88, 75, 57, 0.247);
    border-radius: 10px;
    max-width: 800px;
    width: 90%;
    align-self: center;
    margin: auto;
}

.homeform tr, .result tr{
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    align-items: center;
}

.homeform td, .result td {
    width: 310px;
    align-self: center;
    margin: auto;
    text-align: center;
}

.result {
    width: 70%;
    background-color:rgba(255, 255, 255, 0.5);
    border-radius: 2vw;
}

.tags {
    font-size:25;
    font-family: Cabin;
    color-interpolation-filters: auto;
    text-align: center;
    text-rendering: optimizeSpeed;
    text-emphasis-color:inherit;
    padding-top: 15px;
    font-weight: 500;
    color: #26282a;
    text-shadow: white 1px 1px;
}

.vals {
    font-size:22;
    font-family: Cabin;
    color-interpolation-filters: auto;
    text-rendering: optimizeSpeed;
    text-align: center;
    text-emphasis-color:inherit;
}

input[type="number"] {
    background: rgba(255,255,255,0.4);
    font-family: Cabin;
    padding-block-start: 10%;
    width: 100%;
    height: 100%;
    font-size: 20;
    border: 0px;
    border-radius: 15px;
    margin: 1vw;
    padding: 10px;
    text-align: center;
}

input[type="number"]::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:rgba(255, 240, 245, 0.555);
    opacity: 1; /* Firefox */
    text-align: center;
    font-family: Cabin;
}

input[type=submit]{
    background-color: #4CAF50;
    font-size:20;
    border-radius: 30px;
    font-family: Cabin;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 10px;
    cursor: pointer;
}

#loader {
    position: absolute;
    top: 200px;
    left: 45vw;
    border: 2vw solid #f3f3f3; /* Light grey */
    border-top: 2vw solid #3498db; /* Blue */
    border-radius: 50%;
    width: 10vw;
    height: 10vw;
    animation: spin 1s linear infinite;
    margin: auto;
    display: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.card{
    background-color: black;
    opacity: 1;
    border: 1px groove black;
    border-radius: 10px;
    position: relative;
    text-align: center;
    font-size: 40px;
    color: black;
    width: 340px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px; 
    align-items: center;
}

.images{
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
    text-align: left;
}

.card img{
    position: relative;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 1px groove gray;
    transition: transform 0.5s, box-shadow 0.5s, opacity 0.5s;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: auto;
    color: white;
    font-family: Vollkorn;
    text-shadow: rgba(0, 0, 0, 0.336) 1px 1px;
}

.card img:hover{
    box-shadow: rgba(20, 40, 20, 0.8) 10px 10px;
    opacity: 1;
    z-index: 1;
    transform: scale(1.1, 1.1);
}

#back > a{
    margin-top: 20px;
    margin-left: 10px;
    padding: 10px 20px 10px 20px;
    background-color: black;
    color: white;
    box-shadow: rgba(26, 37, 2, 0.8) 5px 5px;
    font-family: Cabin;
    font-size: 20;
    text-decoration: none;
}

#back > a:hover{
    transform: scale(1.2, 1.2);
    color:black;
    background-color: white;
}

#board{
    width: 90vw;
    height: 90%;
    position: fixed;
    display: none;
    top: 5%;
    left: 5%;
    right: 5%;
    background-color: rgba(255, 248, 220, 0.7);
    border-radius: 5px;
    border: 2px solid black;
    overflow-y: scroll;
    transition: display 1s;
    z-index: 2;
}

#board table{
    width: 85vw;
    margin: auto;
    margin-top: 2vw;
    margin-bottom: 1vw;
    table-layout: auto;
    border-collapse: collapse;
}

#board td{
    text-align: center;
    font-size: 20;
    font-family: Cabin;
}

#close {
    background-color: rgb(228, 11, 11);
    border: 2px solid black;
    border-radius: 50%;
    position: fixed;
    width: 25px;
    height: 25px;
    font-family: Cabin;
    text-decoration: solid;
    padding:0;
    font-size: 22px;
    margin-top: 3px;
    margin-left: 3px;
    text-align: center;
    user-select: none;
}

#close:hover {
    cursor: pointer;
}

#info {
    position: absolute;
    top: 1vw;
    right: 1vw;
    width: 40;
    height: 40;
}

#info:hover{
    cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey; 
  border-radius: 2px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #504c4c; 
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1b1f23; 
}
