<html>
  <head>
    <title>Home</title>
  </head>
  <body>
    <form action="" method="POST">
      <table>
        <tr>
          <td>AQI: </td><td><input type="number" name="AQI" required></td>
        </tr>
        <tr>
          <td>Area Limit: </td><td><input type="number" name="area" min="0" required></td>
        </tr>
        <tr>
          <td>Cost Limit: </td><td><input type="number" name="cost" min="0" required></td>
        </tr>
        <tr>
          <td>Population: </td><td><input type="number" name="population" min="0" required></td>
        </tr>
      </table>
      <input type="submit" value="Get Result">
    </form>
  </body>
</html>
